*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table {
    border:5px solid red;
    margin-left: auto; 
    margin-right: auto;
    }

.pizzaria {
    background-color: rgb(253, 56, 56);
    
}

.cardapio {
    border: 7px solid rgb(168, 34, 34);
    border-collapse: collapse;
}

td, th{
    border: 7px solid rgb(168, 34, 34);
    color:rgb(82, 0, 0)
}

legend {
    color:rgb(82, 0, 0)
}

#navegacao li{
    padding: 20px;
}

#navegacao a {
    color: white;
    text-decoration: none;
}

#navegacao {
    display:flex;
    font-size: 50px;
    text-decoration: none;
    list-style: none;
    /* border-bottom: solid red 10px; */
    background-color: #de2939;
    padding: 20px;
    position: fixed;
    width: 100%;
}

#navegacao li:hover a {
    font-weight: bold;
    color:red;
    text-decoration: none;
}

nav ul{
    display: flex;
    justify-content: center;
}