
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#navegacao li{
    padding: 20px;
}

#navegacao a {
    color: white;
    text-decoration: none;
}

#navegacao {
    display:flex;
    font-size: 50px;
    text-decoration: none;
    list-style: none;
    /* border-bottom: solid red 10px; */
    background-color: #de2939;
    padding: 20px;
    position: fixed;
    width: 100%;
}

nav ul{
    display: flex;
    justify-content: center;
}

#navegacao li:hover a {
    font-weight: bold;
    color:red;
    text-decoration: none;
}

a:visited{
    color:#007bad
}

.el {
    margin: 300px
}

#link{
    color: #007bad;
    margin-bottom: 600px;
}

#logo{
    margin-top: 300px;
}

#wpp{
    position:fixed;
    right: 50px;
    bottom: 50px;
    background-color: #4bc959;
    padding: 10px;
    box-sizing: 5px;
    border-radius: 20%;
}